.header {
  background-color: #000;
  padding: 10px;
  text-align: center;
  color: #fff;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-size: 2em;
  margin: 20px;
}

.admin-link {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  padding: 0 10px;
}

.admin-link:hover {
  text-decoration: underline;
}
