.my-shadow {
  box-shadow: inset 0 30px 60px -12px rgba(250, 250, 250, 0.25),
    inset 0 18px 36px -18px rgba(180, 167, 167, 0.3);
}

.slim-scroll::-webkit-scrollbar {
  width: 6px;
}

.slim-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.slim-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.fixed-height-card.slim-scroll {
  height: 480px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.slim-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.max-height {
  max-height: 700px;
}

.max-height-card {
  max-height: 480px;
}

.fixed-height-card {
  height: 350px;
  overflow-y: auto;
}
