.footer {
  color: #fff;
  padding: 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;
  background: #000;
}

.footer a {
  color: #ffc107;
  text-decoration: none;
  margin: 0 5px;
}

.footer a:hover {
  text-decoration: underline;
}

.custom-shadow {
  box-shadow: rgba(0, 0, 0, 0.45) 0px -25px 20px -20px;
}
