.cart-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.custom-cart-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .custom-cart-width {
    width: 85%;
  }
}

@media (min-width: 992px) {
  .custom-cart-width {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .custom-cart-width {
    width: 50%;
  }
}
