.container-with-navbar {
  padding-top: 45px;
}

.go-to-cart {
  background-color: #fff;
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 1000;
  border-radius: 15%;
  width: 80px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
