.container-with-navbar {
  padding-top: 45px;
}

.go-to-cart {
  background-color: #fff;
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 1000;
  border-radius: 15%;
  width: 80px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.search-box-shadow {
  box-shadow: inset 0 30px 60px -12px rgba(250, 250, 250, 0.25),
    inset 0 18px 36px -18px rgba(180, 167, 167, 0.3);
}

.pizza-card-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.pizza-image-size {
  height: 300px;
  object-fit: cover;
}
