.nav-link.active {
  background-color: slategray !important;
  color: #fff !important;
  margin-right: 5px;
}

.nav-link:hover {
  background-color: #e8e8e8;
}

.nav-link {
  color: #000 !important;
  margin: 5px;
}
